
            .sub-button {
                background-color: rgb(205, 7, 7);
                color: white;
                border: none;
                height: 34px;
                width: 100px;
                border-radius: 5px;
                cursor: pointer;
                margin-right: 20px;
                transition: opacity 0.25,box-shadow 2s;
                box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.5)
            }
            .sub-button:hover{
                color: white;
                background-color: rgb(255, 0, 0);
                opacity: 0.6;
            }
        
            .sub-button:active{
                background-color: rgba(255, 0, 0, 1);
                opacity: 0.8;
                box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.5)
            }
           .join-button{
                background-color:white;
                color: rgb(8, 0, 255);
                height: 36px;
                width: 62px;
                border: 1px solid black;
                border-radius: 3px;
                border-color: rgb(19, 19, 208);
                margin-right: 8px;
                cursor:pointer;
                transition: background-color .1s;
            }
            .join-button:hover{
                background-color: blue;
                color: white;
            }
            .join-button:active{
                background-color: black;
                color: white;
                opacity: 0.4;
            }
        
            .tweet-button{
                background-color: rgb(69, 69, 241);
                color: white;
                height: 36px;
                width: 62px;
                border: 1px solid black;
                border-radius: 25px;
                border-color: rgb(19, 19, 208);
                font-weight: bold;
                font-size: 13px;
                cursor: pointer;
                transition:box-shadow 0.15s ;
            }
            .tweet-button:hover{
                background-color: rgb(53, 53, 229);
                color: white;
                opacity: 0.8;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4) ;
            }
            .tweet-button:active{
                opacity:0.7;
            }